@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  *::before, *::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit; }

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
  line-height: 1;
  font-family: 'Quicksand','Helvetica', sans-serif;
  background-color: #000; }

a {
  text-decoration: none; }
  a:active, a:visited, a:focus {
    text-decoration: none;
    color: inherit; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: 1; }

article, audio, video, img, blockquote, button {
  margin: 0;
  padding: 0;
  display: inline-block; }

.header__component {
  width: 100%;
  margin: 0 auto;
  padding: 0.75rem;
  position: fixed;
  z-index: 10000;
  background-color: transparent;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }
  .header__component .menu__icon,
  .header__component nav {
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    width: 100%; }
  .header__component .menu__icon {
    display: none;
    cursor: pointer;
    max-width: 5%; }
    .header__component .menu__icon > div {
      width: 35px;
      height: 5px;
      margin: 6px 0;
      opacity: 1;
      background-color: #fff;
      -webkit-transition: 0.4s;
      -moz-transition: 0.4s;
      -o-transition: 0.4s;
      transition: 0.4s; }
  .header__component .menu__icon.active-menu .icon-one {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    -ms-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px); }
  .header__component .menu__icon.active-menu .icon-two {
    opacity: 0; }
  .header__component .menu__icon.active-menu .icon-three {
    -webkit-transform: rotate(45deg) translate(-9px, -7px);
    -ms-transform: rotate(45deg) translate(-9px, -7px);
    transform: rotate(45deg) translate(-9px, -7px); }
  .header__component nav {
    text-align: center; }
    .header__component nav ul {
      margin: 0;
      padding: 0;
      list-style: none;
      list-style-type: none;
      display: inline-block;
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      -webkit-transition: 0.3s ease 0.2s;
      -moz-transition: 0.3s ease 0.2s;
      -o-transition: 0.3s ease 0.2s;
      transition: 0.3s ease 0.2s; }
      .header__component nav ul li {
        display: inherit;
        position: relative; }
        .header__component nav ul li::before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0;
          border-bottom: 2px solid orange;
          -webkit-transition: 0.75s ease;
          -moz-transition: 0.75s ease;
          -o-transition: 0.75s ease;
          transition: 0.75s ease; }
        .header__component nav ul li:hover::before {
          width: 100%; }
        .header__component nav ul li:hover a {
          color: #ffa500; }
        .header__component nav ul li:not(:focus) {
          -webkit-transition: 0.45s ease;
          -moz-transition: 0.45s ease;
          -o-transition: 0.45s ease;
          transition: 0.45s ease; }
    .header__component nav a {
      color: #fff;
      padding: 10px 15px;
      display: inherit;
      font-weight: 400;
      text-transform: uppercase;
      -webkit-transition: 0.45s ease;
      -moz-transition: 0.45s ease;
      -o-transition: 0.45s ease;
      transition: 0.45s ease; }

.header__component.header-scroll {
  background-color: rgba(0, 0, 0, 0.75); }
  .header__component.header-scroll nav ul {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05); }

@media (min-width: 700px) {
  .header__component.header-scroll {
    -webkit-transform: scale(1.35);
    -ms-transform: scale(1.35);
    transform: scale(1.35); } }

@media only screen and (max-width: 650px) and (orientation: portrait) {
  .header__component .menu__icon {
    display: inline-block;
    max-width: 35px; }
  .header__component nav {
    max-width: 100% !important; } }

.page-content {
  width: 100%;
  margin: 0 auto; }
  .page-content .page-section {
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out; }
    .page-content .page-section h1, .page-content .page-section h2, .page-content .page-section h3, .page-content .page-section h4, .page-content .page-section h5, .page-content .page-section h6 {
      color: #fff; }
    .page-content .page-section p {
      color: #fff;
      line-height: 1.6em; }
    .page-content .page-section .inner-section-content {
      width: 100%;
      display: -ms-flex;
      display: flex;
      -webkit-align-items: center;
      align-items: center;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap; }
      .page-content .page-section .inner-section-content .section-title,
      .page-content .page-section .inner-section-content article {
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
        width: 100%;
        max-width: 50%; }
      .page-content .page-section .inner-section-content .section-title {
        position: relative; }
        .page-content .page-section .inner-section-content .section-title h1 {
          font-size: 3.5rem;
          text-align: center; }
    .page-content .page-section .horizontal-line {
      position: absolute;
      bottom: 0;
      width: 100%;
      max-width: 500px;
      height: 2px;
      background-color: #ffa500;
      opacity: 0.5; }
    .page-content .page-section .horizontal-line.left {
      left: 0; }
    .page-content .page-section .horizontal-line.right {
      right: 0; }
  .page-content .page-section:not(.header-section) {
    padding: 1.5rem; }
  .page-content .page-section.header-section {
    height: 50vh; }
    .page-content .page-section.header-section .header-title {
      position: absolute;
      top: 50%;
      left: calc(1% + 20px);
      z-index: 100;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
      .page-content .page-section.header-section .header-title h1 {
        color: #fff;
        letter-spacing: 5px;
        text-transform: uppercase;
        font-size: 0; }
        .page-content .page-section.header-section .header-title h1 span {
          font-size: 1rem;
          display: inline-block;
          margin-right: -6px; }
          .page-content .page-section.header-section .header-title h1 span:nth-child(2) {
            margin-right: 1rem; }
  .page-content .about-section .mugshot {
    margin: 0 auto;
    width: 100%;
    height: 300px;
    max-width: 300px;
    max-height: 300px;
    position: relative;
    top: 10px;
    background: url("../res/img/mugshot.png") no-repeat center;
    background-size: cover;
    opacity: 0;
    -webkit-clip-path: circle(50% at 90% 5%);
    clip-path: circle(50% at 90% 5%);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: 0.4s ease;
    -moz-transition: 0.4s ease;
    -o-transition: 0.4s ease;
    transition: 0.4s ease; }
    .page-content .about-section .mugshot::after {
      position: absolute;
      top: calc(2% + 10px);
      left: calc(10% - 50px);
      width: 100%;
      height: 100%;
      opacity: 0;
      background-color: #eee;
      z-index: -1;
      -webkit-transform: translateZ(-1px);
      -ms-transform: translateZ(-1px);
      transform: translateZ(-1px);
      -webkit-transition: 0.65s ease 0.45s;
      -moz-transition: 0.65s ease 0.45s;
      -o-transition: 0.65s ease 0.45s;
      transition: 0.65s ease 0.45s; }
  .page-content .about-section p {
    position: relative;
    top: 10px;
    opacity: 0;
    -webkit-transition: 0.4s ease;
    -moz-transition: 0.4s ease;
    -o-transition: 0.4s ease;
    transition: 0.4s ease; }
    .page-content .about-section p:nth-child(2) {
      -webkit-transition-delay: 0.1s;
      -moz-transition-delay: 0.1s;
      -o-transition-delay: 0.1s;
      transition-delay: 0.1s; }
  .page-content .about-section.elem-in-view .mugshot {
    top: 0;
    opacity: 1;
    -webkit-clip-path: circle(100%);
    clip-path: circle(100%); }
    .page-content .about-section.elem-in-view .mugshot::after {
      opacity: 1;
      -webkit-clip-path: circle(100%);
      clip-path: circle(100%); }
  .page-content .about-section.elem-in-view p {
    top: 0;
    opacity: 1; }
  .page-content .projects-section {
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap; }
    .page-content .projects-section .git-projects,
    .page-content .projects-section .other-projects {
      -ms-flex: 1 0 auto;
      flex: 1 0 auto;
      width: 100%;
      max-width: 50%; }
    .page-content .projects-section span {
      color: #fff; }
    .page-content .projects-section .git-projects {
      opacity: 0;
      -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
      transform: translateX(100%);
      -webkit-transition: 0.5s ease;
      -moz-transition: 0.5s ease;
      -o-transition: 0.5s ease;
      transition: 0.5s ease; }
      .page-content .projects-section .git-projects::before, .page-content .projects-section .git-projects::after {
        content: '';
        display: table;
        clear: both; }
      .page-content .projects-section .git-projects .project-card {
        float: left;
        width: 100%;
        max-width: 48%;
        margin-right: 1.5%;
        margin-bottom: 1rem;
        padding: 1rem;
        border-radius: 4px;
        border: 1px solid rgba(238, 238, 238, 0.15);
        box-shadow: none;
        -webkit-transition: 0.1s linear;
        -moz-transition: 0.1s linear;
        -o-transition: 0.1s linear;
        transition: 0.1s linear; }
        .page-content .projects-section .git-projects .project-card a, .page-content .projects-section .git-projects .project-card span {
          display: inline-block; }
        .page-content .projects-section .git-projects .project-card a {
          color: #ffa500;
          width: 100%; }
        .page-content .projects-section .git-projects .project-card span {
          margin-top: 3px;
          font-size: 12px; }
    .page-content .projects-section .other-projects {
      padding: 0.75rem; }
      .page-content .projects-section .other-projects p {
        opacity: 0;
        position: relative;
        top: 20px;
        -webkit-transition: 0.4s ease;
        -moz-transition: 0.4s ease;
        -o-transition: 0.4s ease;
        transition: 0.4s ease; }
        .page-content .projects-section .other-projects p:nth-child(2) {
          -webkit-transition-delay: 0.2s;
          -moz-transition-delay: 0.2s;
          -o-transition-delay: 0.2s;
          transition-delay: 0.2s; }
        .page-content .projects-section .other-projects p:nth-child(3) {
          -webkit-transition-delay: 0.3s;
          -moz-transition-delay: 0.3s;
          -o-transition-delay: 0.3s;
          transition-delay: 0.3s; }
        .page-content .projects-section .other-projects p:nth-child(4) {
          -webkit-transition-delay: 0.4s;
          -moz-transition-delay: 0.4s;
          -o-transition-delay: 0.4s;
          transition-delay: 0.4s; }
  .page-content .projects-section.elem-in-view .git-projects {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); }
  .page-content .projects-section.elem-in-view .other-projects p {
    opacity: 1;
    top: 0; }
  .page-content .contact-section .contact-content {
    width: 100%;
    margin: 0 auto;
    position: relative;
    top: 20px;
    opacity: 0;
    -webkit-transition: 0.4s ease;
    -moz-transition: 0.4s ease;
    -o-transition: 0.4s ease;
    transition: 0.4s ease; }
    .page-content .contact-section .contact-content .contact-button {
      text-align: center;
      position: relative; }
      .page-content .contact-section .contact-content .contact-button button {
        cursor: pointer;
        border: 0;
        outline: none;
        background-color: #ffa500;
        padding: 10px 15px;
        font-size: 1rem;
        font-weight: 600;
        border-radius: 4px;
        position: relative;
        z-index: 1; }
        .page-content .contact-section .contact-content .contact-button button::before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 0;
          border-radius: 4px;
          background-color: #fff;
          z-index: -1;
          -webkit-transition: 0.2s linear;
          -moz-transition: 0.2s linear;
          -o-transition: 0.2s linear;
          transition: 0.2s linear; }
  .page-content .contact-section.elem-in-view .contact-content {
    top: 0;
    opacity: 1; }

@media (min-width: 1024px) {
  .page-content .page-section:not(.header-section) {
    max-width: 1300px; }
  .page-content .page-section.header-section .header-title {
    left: calc(5% + 20px); }
  .page-content .about-section .git-projects .project-card:hover {
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.35); }
  .page-content .contact-section .contact-button button:hover::before {
    height: 100%; } }

@media (min-width: 767px) {
  .page-content .page-section p {
    font-size: 1.5rem; }
  .page-content .page-section.header-section canvas {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5); }
  .page-content .page-section.header-section .header-title h1 span {
    font-size: 4rem; } }

@media (max-width: 1000px) {
  .page-content .projects-section .other-projects,
  .page-content .projects-section .git-projects {
    max-width: 100% !important; } }

@media only screen and (max-width: 900px) and (orientation: landscape) {
  .page-content .page-section.header-section {
    height: 100vh; } }

@media only screen and (max-width: 1024px) and (orientation: portrait) {
  .page-content .projects-section .other-projects,
  .page-content .projects-section .git-projects {
    max-width: 100% !important; }
  .page-content .projects-section .git-projects {
    max-height: 300px;
    overflow-y: auto; } }

@media only screen and (max-width: 768px) and (orientation: portrait) {
  .page-content .projects-section .other-projects {
    padding: unset; } }

@media only screen and (max-width: 650px) and (orientation: portrait) {
  .page-content .inner-section-content .section-title,
  .page-content .inner-section-content article {
    max-width: 100% !important; }
  .page-content .inner-section-content .mugshot {
    max-width: 100% !important; }
  .page-content .page-section.header-section .header-title h1 span {
    font-size: 1.5rem; }
  .page-content .projects-section .git-projects .project-card {
    max-width: 100% !important;
    margin-right: unset; } }

footer {
  width: 100%;
  padding: 1rem;
  overflow: inherit;
  border-top: 1px solid rgba(238, 238, 238, 0.15); }
  footer .inner-footer-content {
    width: 100%;
    margin: 0 auto;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap; }
    footer .inner-footer-content * {
      color: #fff; }
    footer .inner-footer-content .copyright,
    footer .inner-footer-content .profiles {
      -ms-flex: 1 0 auto;
      flex: 1 0 auto;
      width: 100%;
      max-width: 50%;
      margin-bottom: 10px; }
    footer .inner-footer-content .profiles::before, footer .inner-footer-content .profiles::after {
      content: '';
      display: table;
      clear: both; }
    footer .inner-footer-content .profiles a {
      float: left;
      width: 100%;
      max-width: 50%; }
      footer .inner-footer-content .profiles a:hover span {
        color: #ffa500; }
      footer .inner-footer-content .profiles a:hover img {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9); }
      footer .inner-footer-content .profiles a img, footer .inner-footer-content .profiles a span {
        display: inline-block;
        vertical-align: middle;
        -webkit-transition: 0.2s linear;
        -moz-transition: 0.2s linear;
        -o-transition: 0.2s linear;
        transition: 0.2s linear; }
      footer .inner-footer-content .profiles a img {
        width: 100%;
        height: 100%;
        max-width: 25px;
        max-height: 25px;
        margin-right: 0.5rem;
        object-fit: contain;
        object-position: center;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1); }

@media (min-width: 1024px) {
  footer .inner-footer-content {
    max-width: 1000px; }
    footer .inner-footer-content .copyright {
      text-align: center;
      margin-left: -1rem; }
    footer .inner-footer-content .profiles a {
      max-width: 40%; } }

@media only screen and (max-width: 690px) and (orientation: landscape) {
  footer .inner-footer-content .copyright {
    max-width: 35% !important; }
  footer .inner-footer-content .profiles {
    max-width: 65% !important; } }

@media only screen and (max-width: 650px) and (orientation: portrait) {
  footer .inner-footer-content .copyright,
  footer .inner-footer-content .profiles {
    max-width: 100% !important; }
  footer .inner-footer-content .copyright {
    text-align: center;
    margin-bottom: 1rem; }
  footer .inner-footer-content .profiles a {
    text-align: center; }
    footer .inner-footer-content .profiles a img {
      max-width: 15px;
      max-height: 15px; }
    footer .inner-footer-content .profiles a span {
      font-size: 14px; } }

@media only screen and (max-width: 320px) and (orientation: portrait) {
  footer .inner-footer-content .profiles a span {
    font-size: 13px; } }
