@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    &::before,
    &::after{
        -webkit-box-sizing: inherit;
        box-sizing: inherit;
    }
}
html,
body{
    padding: 0;
    margin: 0;
    width: 100%;
    overflow-x: hidden;
    line-height: 1;
    font-family: 'Quicksand','Helvetica', sans-serif;
}

a{
    text-decoration: none;
}