.page-content{
    width: 100%;
    margin: 0 auto;
    .page-section{
        width: 100%;
        margin: 0 auto;
        position: relative;
        @include transition(0.5s ease-in-out);
        //overflow: hidden;
        h1,h2,h3,h4,h5,h6{
            color: $white;
        }
        p{
            color: $white;
            line-height: 1.6em;
        }
        .inner-section-content{
            width: 100%;
            @include displayFlexAlignCenterWrap;
            .section-title,
            article{
                -ms-flex: 1 0 auto;
                flex: 1 0 auto;
                width: 100%;
                max-width: 50%;
            }
            .section-title{
                position: relative;
                h1{ 
                    font-size: 3.5rem;
                    text-align: center; 
                }
            }
        }
        .vertical-line{
            position: absolute;
            bottom: 0;
            width: 3px;
            max-width: 500px;
            height: 50%;
            background-color: $orange; 
            opacity: 0.5; 
        }
        .vertical-line.left{ left: 0; }
        .vertical-line.right{ right: 0; }
        .horizontal-line{
            position: absolute;
            bottom: 0;
            width: 100%;
            max-width: 500px;
            height: 3px;
            background-color: $orange; 
            opacity: 0.5; 
        }
        .horizontal-line.left{ left: 0; }
        .horizontal-line.right { right: 0; }
    } 
    .page-section:not(.header-section){
        padding: 1.5rem;
    }
    .page-section.header-section{
        height: 50vh;
        .header-title{
            position: absolute;
            top: 50%;
            left: calc(1% + 20px);
            z-index: 100;
            @include transform(translateY(-50%));
            h1{
                color: $white;
                letter-spacing: 5px;
                text-transform: uppercase;
                font-size: 0;
                span{ 
                    font-size: 1rem;
                    display: inline-block; 
                    margin-right: -6px;
                    &:nth-child(2){ margin-right: 1rem; }
                }
            }
        }
    }
    .about-section{
        .mugshot{
            margin: 0 auto;
            width: 100%;
            height: 300px;
            max-width: 300px;
            max-height: 300px;
            position: relative;
            top: 10px;
            background: url('../res/img/mugshot.png') no-repeat center;
            background-size: cover;
            @include clip-path(circle(20% at center));
            @include transform-style(preserve-3d);
            @include transition(0.8s ease);
            //opacity: 0;
            //@include clip-path(circle(50% at 90% 5%));
            &::after{
                //content: '';
                position: absolute;
                top: calc(2% + 10px);
                left: calc(10% - 50px);
                width: 100%;
                height: 100%;
                background-color: $lightgrey;
                z-index: -1;
                @include transform(translateZ(-1px));
                @include transition(0.65s ease 0.45s);
                //opacity: 0;
                //@include clip-path(circle(50% at 90% 5%));
            }
        }
        p{
            position: relative;
            top: 10px;
            //opacity: 0;
            @include transition(0.4s ease);
            &:nth-child(2){
                @include transition-delay(0.1s);
            }
        }
    }
    .about-section.elem-in-view{
        .mugshot{
            top: 0;
            opacity: 1;
            @include clip-path(circle(100%));
            &::after{
                opacity: 1;
                @include clip-path(circle(100%));
            }
        }
        p{
            top: 0;
            opacity: 1;
        }
    }
    .projects-section{
        @include displayFlexAlignCenterWrap;
        .git-projects,
        .other-projects{
            -ms-flex: 1 0 auto;
            flex: 1 0 auto;
            width: 100%;
            max-width: 50%;
        }
        span{ color: $white; }
        .git-projects{
            opacity: 0;
            @include tableGrid;
            @include transform(translateX(100%));
            @include transition(0.5s ease);
            @include transition-delay(0.5s);
            .project-card{
                float: left;
                width: 100%;
                max-width: 48%;
                margin-right: 1.5%;
                margin-bottom: 1rem;
                padding: 1rem;
                border-radius: 4px;
                border: 1px solid rgba($lightgrey, 0.15);
                box-shadow: none;
                @include transition(0.1s linear);
                a,span{
                    display: inline-block;
                }
                a{ 
                    color: $orange;
                    width: 100%;
                }
                span{
                    margin-top: 3px;
                    font-size: 12px;
                }
            }
        }
        .other-projects{
            padding: 0.75rem;
            p {
                opacity: 0;
                position: relative;
                top: 20px;
                @include transition(0.4s ease);
                &:nth-child(2){
                    @include transition-delay(0.2s);
                }
                &:nth-child(3){
                    @include transition-delay(0.3s);
                }
                &:nth-child(4){
                    @include transition-delay(0.4s);
                }
            }
        }
    }
    .projects-section.elem-in-view{
        .git-projects{
            opacity: 1;
            @include transform(translateX(0));
        }
        .other-projects{
            p{
                opacity: 1;
                top: 0;
            }
        }
    }
    .contact-section{
        .contact-content{
            width: 100%;
            margin: 0 auto;
            position: relative;
            top: 20px;
            opacity: 0;
            @include transition(0.4s ease);
            @include transition-delay(0.3s);
            p { text-align: center; }
            .contact-button{
                text-align: center;
                position: relative;
                button{
                    cursor: pointer;
                    border: 0;
                    outline: none;
                    background-color: $orange;
                    padding: 10px 15px;
                    font-size: 1rem;
                    font-weight: 600;
                    border-radius: 4px;
                    position: relative;
                    z-index: 1;
                    &::before{
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 0;
                        border-radius: 4px;
                        background-color: $white;
                        z-index: -1;
                        @include transition(0.2s linear);
                    }
                }
            }
        }
    }
    .contact-section.elem-in-view{
        .contact-content{
            top: 0;
            opacity: 1;
        }
    }
    .contact-form-container{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 0;
        overflow: hidden;
        overflow-y: auto;
        background-color: $white;
        z-index: 20000;
        @include transition(0.4s ease);
        button{
            display: inline-block;
            outline: none;
            border: 0;
            padding: 10px 15px;
        }
        .close-form-button{
            text-align: right;
            position: relative;
            display: block;
            margin: 2rem auto;
            button{
                background-color: transparent;
                @include transform(scale(3));
            }
        }
        .form-group{
            margin: 1rem 0;
            label,
            input[type="text"],
            textarea{
                display: inline-block;
                width: 100%;
            }
            label{
                margin-bottom: 0.5rem;
                font-weight: 600;
                font-size: 1.25rem;
                position: relative;
                sup{
                    position: relative;
                    top: 10px;
                    font-size: 1.25rem;
                    color: $darkred;
                }
            }
            input[type="text"],
            textarea{
                border: 1px solid $mediumgrey;
                padding: 0.55rem;
                border-radius: 5px;
                font-size: 1.25rem;
                @include transition(0.3s ease);
            }
            textarea{
                resize: none;
            }
            #submit{
                font-size: 1rem;
                border-radius: 5px;
                color: $white;
                background-color: $buttonGreen;
            }
        }
    }
    #contactForm{   
        display: block;
        margin: 0 auto;
        padding: 2rem;
    }
    #contactForm.error{
        input[type="text"],
        textarea{
            border: 1px solid $darkred;
        }
    }
} 
body.contact-active{
    height: 100vh;
    .contact-form-container{
        height: 100vh
    }
}
@media (min-width: 1024px){
    .page-content{
        .page-section:not(.header-section){
            max-width: 1300px;
        }
        .page-section.header-section{
            .header-title{
                left: calc(5% + 20px);
            }
        }
        .about-section{
            .git-projects{
                .project-card{
                    &:hover{
                        box-shadow: 0 0 10px rgba($orange, 0.35);
                    }
                }
            }
        }
        .contact-section{
            .contact-button{
                button{
                    &:hover{
                        &::before{ height: 100%; }
                    }
                }
            }
        }
        .contact-form-container{
            .close-form-button{
                max-width: 800px;
            }
        }
        #contactForm{
            max-width: 800px;
        }
    }
}
@media (min-width: 767px){
    .page-content{
        .page-section{
            p{ font-size: 1.5rem; }
        }
        .page-section.header-section{
            canvas{ @include transform(scale(1.05)); }
            .header-title{
                h1{ 
                    span{ font-size: 4rem; }
                }
            }
        }
        .page-section.projects-section{
            .git-projects{
                p { text-align: center; }
            }
        }
    }
}
@media (max-width: 1000px){
    .page-content{
        .projects-section{
            .other-projects,
            .git-projects{
                max-width: 100% !important;
            }
        }
    }
}
@media only screen and (max-width: 900px) and (orientation: landscape){
    .page-content{
        .page-section.header-section{
            height: 100vh; 
        }
    }
}
@media only screen and (max-width: 1024px) and (orientation: portrait){
    .page-content{
        .projects-section{
            .other-projects,
            .git-projects{
                max-width: 100% !important;
            }
            .git-projects{
                max-height: 300px;
                overflow-y: auto;
            }
        }
    }
}
@media only screen and (max-width: 768px) and (orientation: portrait){
    .page-content{
        .projects-section{
            .other-projects{ padding: unset; }
        }
    }
}
@media only screen and (max-width: 650px) and (orientation: portrait){
    .page-content{
        .inner-section-content{
            .section-title,
            article{
                max-width: 100% !important;
            }
            .mugshot{ max-width: 100% !important; }
        }
        .page-section.header-section{
            .header-title{
                h1{
                    span{ font-size: 1.5rem; }
                }
            }
        }
        .projects-section{
            .git-projects{
                .project-card{
                    max-width: 100% !important;
                    margin-right: unset;
                }
            }
        }
        .contact-form-container{
            .form-group{
                #submit{
                    width: 100%;
                }
            }
        }
    }
}
@media (max-width: 360px){
    .header__component{
        nav{
            ul{
                @include displayFlexAlignCenterWrap;
                li{
                    -ms-flex: 1 0 auto;
                    flex: 1 0 auto;
                    width: 100%;
                    max-width: 50%;
                    padding-left: 1.25rem;
                }
            }
        }
    }
}