@mixin transform($property){
    -webkit-transform: $property;
    -ms-transform: $property;
    transform: $property;
}
@mixin transform-origin($property){
    -webkit-transform-origin: $property;
    -ms-transform-origin: $property;
    transform-origin: $property;
}
@mixin transform-style($property){
    -webkit-transform-style: $property;
    transform-style: $property;
}
@mixin transition($property){
    -webkit-transition: $property;
    -moz-transition: $property;
    -o-transition: $property;
    transition: $property;
}
@mixin transition-delay($property){
    -webkit-transition-delay: $property;
    -moz-transition-delay: $property;
    -o-transition-delay: $property;
    transition-delay: $property;
}
@mixin displayFlexAlignCenterWrap{
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
@mixin tableGrid{
    &::before,
    &::after{
        content: '';
        display: table;
        clear: both;
    }
}
@mixin clip-path($property){
    -webkit-clip-path: $property;
    clip-path: $property;
}
@mixin animation($property){
    -webkit-animation: $property;
    animation: $property;
}
@mixin animation-delay($property){
    -webkit-animation-delay: $property;
    animation-delay: $property;
}