$black: #000;
$darkgrey: #222;
$menuicongrey: #333;

$white: #fff;
$orange: #ffa500;

$lightgrey: #eee;
$mediumgrey: #ccc;

$darkred: #c00;

$buttonBlue: #337AB7;
$buttonLightBlue: #5BC0DE;
$buttonGreen: #5CB85C;
$buttonOrange: #F0AD4E;
$buttonRed: #D9534F;